---
#Only the main Sass file needs front matter
---
@charset "UTF-8";

/* 

Built on Rock Hammer by Stuff and Nonsense
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/ 

*/

$media-queries-supported: true;

$ie8-opacity-supported: false;

@import "imports";