---
layout: default
title: creative thoughtful sustainability, plant based food delivery on a bicycle, interviews with people on plant based foods
description: Interviews with people who eat plant based foods, a sustainable food delilvery service, with homemade locally produced food with fresh, natural and nutritious ingredients suitable for vegetarians and vegans delivered on a bicycle. Thoughts and ideas on sustainability, yoga, food and news - leicester uk
author: rajiv
---

<section class="l-panel">
<div class="l-wrap">
<div class="l-summary">
    <h6>Baked not fried</h6>
    {% for post in site.categories(baked) limit:2 %}
    <article class="post">
    <h5 class="nospace"><a href="{{ post.url }}">{{ post.title }}</a></h5>
    <p>{{ post.description }}</p>
    </article>
    {% endfor %}
</div><!-- l-summary -->
<div class="l-content">
<h2>From the interviews</h2>
{% for post in site.categories(interview) limit:1 %}
    <article class="post">
    <h1 class="journal"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <h2 class="by">{{ post.date | date: "%d %B %Y" }}</h2>
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url }}" class="btn  btn-info">Read Post</a>
    </article>
    <hr>
    {% endfor %}
    </div><!-- content -->
</div><!-- l-wrap -->
</section><!-- section -->

<!-- Next ============================== -->

<section class="l-panel info">
<div class="l-wrap editable">
				<div class="section group">
					<div class="col span_1_of_2 editable">
					<h1>Leicester market</h1>
                        <p>If you live in Leicester or Leicestershire you have no excuse not to come visit Leicester market. You can buy some lovely fruit and veg at bargain prices. You just need to know a few things first.</p>
                        <ul>
                        <li>Tuesday, Wednesday & Friday are the best days</li>
                        <li>Walk around the market first before you buy anything</li>
                        <li>Buy produce that is mainly in season</li>
                        <li>Not all the stalls are in the same place each day</li>
                        <li>Some people run two stalls</li>
                        <li>These are my favourite stalls: Hills, Cottingham, Lunn’s, Garcia’s, Pittard’s & Norton's </li>
                        <li>Don't help yourself unless it is clearly marked</li>
                        <li>Get to know the stall holders—it makes a huge difference</li>
                        <li>If you are concerned about whether to eat organic or not—have a look at the <a href="http://www.ewg.org/foodnews/index.php">The Dirty Dozen & Clean Fifteen</a> to help you decide </li>
                        </ul>
					</div>
					<div class="col span_1_of_2 editable">
					<h1>What’s good this week</h1>
                                                <p>The market is full of lovely summer produce—where do I start? Lots of peaches, nectarines—the doughnut varities of both are great. Cherries, raspberries, strawberries are good. I bought some lovely soft black Spanish figs! All kinds of salads, vegetables and herbs. There is French sweetcorn—which is good. Just be careful when buying soft fruits—they ripen very quickly in the warm weather. Oh! I bought a box of passion fruit.</p>
                        <img src="/img/leicester-market.jpg" alt="{{ image.title }}"
					</div>
				</div>
    </div><!-- l-wrap -->
</section><!-- section -->
    
<!-- Next ============================== -->

<!-- start -->
<section class="l-panel">
<div class="l-wrap editable">
<h2>About Me</h2>

<div class="l-summary">
<p>My name is rajiv and I run ZUKINI. I've been doing this for the last two years.</p>
<img src="/img/me.jpg" alt="photo of rajiv"/>
</div><!-- l-summary -->

<div class="l-content">
<h1>Food is fun</h1>
<p>I’ve solely been eating plant based foods for over 16 years. I’ve had a passion for eating natural foods for a very long time, I love experimenting with food. I enjoy yoga and massage, and I have lots of experience in both. My <a href="http://www.zerply.com/profile/yomojo/public">Zerply profile</a> has information about me.</p>
    <p>I’ve lived and worked in London for many years and ran a health food store there for several years, wholesaled fruit and veg—that I bought from New Covent Garden market. I’ve lived in France and ran a stall in the market making and selling food for a couple of years.</p>
    <p>Food—making and buying it has been a part of my life since I was a teenager, so I have lots of experience. Now I'm on my next part of this adventure.</p>
</div><!-- l-content -->
</div><!-- l-wrap -->
</section><!-- section -->
<!-- Next ============================== -->
    

<div class="l-wrap editable">
<div class="hero-unit">
<h1>Luvin' Summer Blending with rajiv</h1>
<p>I'm going to be showing you many different and fun ways you can use a blender—a blender is not just for smoothies! <b>Everyone is welcome</b>: Thursday 2nd July 7.30pm at the Quaker Meeting House, Queen’s Road, Leicester LE2 1WP. This is part of a series of events the Leicestershire vegetarian and vegan group organise.</p>
<p><a href="http://www.leicesterveggies.org.uk/" class="btn btn-primary btn-large">More details about the group</a></p>
</div>
</div><!-- l-wrap -->


<!-- Next ============================== -->