<h2><b>Delivery</b>: <s>Monday & Thursday</s> I am on holiday until the 24th August— sorry no deliveries until then</h2>
<ul>
<li>Time: 11am - 1.30pm</li>
<li>Delivery is 2km around Leicester City Centre</li>
<li>You can also collect your order from me</li>
<li>Last order by 12pm Friday for Monday & 12pm Wednesday for Thursday</li>
<li>Minimum order <b>£10</b></li>
<li>To place your order <b>TEXT</b> it to: <b>07598 293 006</b></li>
<li>If you would like a reminder <b>TEXT</b> of when to order just let me know</li>
<li>If you want to special order a cake for a non delivery day please contact me</li>
</ul>