<h2><b>Delivery</b>: Monday & Thursday</h2>
<ul>
<li>Time: 11am - 1.30pm</li>
<li>Delivery is 2km around Leicester City Centre</li>
<li>You can also collect your order from me</li>
<li>Last order by 12pm Friday for Monday & 12pm Wednesday for Thursday</li>
<li>Minimum order <b>£15</b> - if you are a student the minimum order is <b>£8</b></li>
<li>To place your order <b>TEXT</b> it to: <b>07598 293 006</b></li>
<li>If you would like a reminder <b>TEXT</b> of when to order just let me know</li>
<li>If you want to special order a cake for a non delivery day please contact me</li>
<li>Most of the food is made from <b>organic</b> ingredients</li>
</ul>