<footer role="">
    <section class="l-panel">
            <div class="l-wrap">
<div class="section group">
				<h1>Contact Me</h1>
				</div>

				<div class="section group">
					<div class="col span_1_of_3">
					<h2>Twitter</h2>
                    <p>Ask me questions or comments on Twitter. I tweet a few times a week.</p>
                        <p><a href="https://twitter.com/rajivshah" class="btn btn-full btn-inverse">Tweet Me</a></p>
					</div>
					<div class="col span_1_of_3">
					<h2>Call</h2>
                    <p>Need to call me? Leave a message if I don't answer.</p>
                        <p><a href="" class="btn btn-full btn-inverse">07598 293 006</a></p>
					</div>
					<div class="col span_1_of_3">
					<h2>Email</h2>
                    <p>If you have a longer query about zukini, just send me an email.</p>
                        <p><a href="mailto:hello@zukini.co.uk" class="btn btn-full btn-inverse">Email Me</a></p>
					</div>
                    <p>&copy; {{ site.copyright }}</p>
				</div><!-- group -->
        </div><!-- l-wrap -->
</section><!-- section -->
</footer>

</div><!-- container -->

<!-- Load libraries -->
<script>
head.js(
// Place scripts to be loaded here, in the order the need to be executed
// Typically libraries are needed first, such as jQuery (as the plugins 
// depend on jQuery to execute). The below configuration is what Rock 
// Hammer uses, but customise this for your own needs.
// Notice the use of @path here. This is because we need the file names, 
// not the script tags being generated. Ensure all filenames you wish
// head.js to load are surrounded with quotes. Also, this is a list, so
// ensure that all but the last item are followed by a comma.

// Plugins
"/js/vendor/jquery/jquery.scrollTo.min.js",

// Load bootstrap-transition first so that nice glides/fades 
// etc for the other bootstrap plugins work
"/js/vendor/bootstrap/bootstrap-transition.js",
"/js/vendor/bootstrap/bootstrap-carousel.js",
"/js/vendor/bootstrap/bootstrap-tooltip.js",

// Popover has a dependency on tooltip, so make sure and include 
// bootstrap-tooltip regardless in order for popovers to work
"/js/vendor/bootstrap/bootstrap-popover.js",
"/js/vendor/bootstrap/bootstrap-modal.js",
"/js/vendor/bootstrap/bootstrap-collapse.js",

// Responsive data tables
"/js/rwd-table.js",

// Remove any navigation patterns below that arent used
// "js/nav-patterns/nav-toggle.js",
"/js/nav-patterns/left-nav-flyout.js",
"/js/nav-patterns/responsive-nav.min.js",
"/js/nav-patterns/responsive-breadcrumb.js",
    
    // Functionality only used by Rock Hammer - this should be removed in production projects!
"/js/navigation-manager.js"

);
</script>