<!-- 
Rock Hammer by Andy Clarke
Version: 0.1
URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

<head>

<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    creative thoughtful sustainability
  {% endif %}
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="{% if page.description %} {{ page.description}} {% else %} {{ page.excerpt }} {% endif %}">
<meta name="author" content="{% if page.authour %}{{ page.author}}{% else %}{{ page.author }}{% endif %}">

<!-- For all browsers -->
<link rel='stylesheet' href='/css/main.css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Cardo:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- JavaScript -->
<script src='/js/vendor/head.load.min.js'></script>
<script src='/js/vendor/modernizr-2.6.2-min.js'></script>
<script src='/js/vendor/jquery-1.8.3-min.js'></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src='/js/vendor/selectivizr-min.js'></script>
<link rel='stylesheet' href='/css/lte-ie8.css'>
<![endif]-->

<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="shortcut icon" href="/img/favicon.png">

<meta name="msapplication-TileImage" content="/img/h/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#000">
</head>