// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

h1, h2, h3, h4, h5, h6 {
margin : 0;
font-family : $baseheadingfont;
font-weight : $baseheadingfontweight;
color : $baseheadingfontcolor;
text-rendering : optimizelegibility;

small {
font-weight : normal;
line-height : 1;
color : $lightneutralcolor; }
}

h1,
.h1 {
@include font-size($basefontsize * 2);
font-family: $altfontfamily;
line-height: 1.5;
margin-bottom: $baselineheight / 2; 
}

.hero-unit h1.logo-home {
font-size: 14rem;
font-weight: 700;
letter-spacing: -1.9rem;
line-height: 15.4rem;
text-transform: uppercase;
color: rgb(146,154,0);
@include media-query-bp($bp4)
{ font-size: 19rem;
    
}
}

.hero-unit h1.logo {
font-size: 3rem;
font-family: $altfontfamily;
font-weight: 700;
letter-spacing: -0.2rem;
line-height: 1.5rem;
text-transform: uppercase;
color: rgb(146,154,0);
}

h1.journal  {
line-height: 2.9rem;
}

h1.by {
line-height: 0;
}

h2,
.h2 {
@include font-size($basefontsize * 1);
font-weight: 100;
text-transform: uppercase;
letter-spacing: 2px;
line-height: 1.5;
margin-bottom: $baselineheight / 2; }

h2.h2-title {
font-size: 3rem;
font-family: $altfontfamily;
font-weight: 700;
font-variant: small-caps;
line-height: 2.5;
}

h2 i {
text-transform: lowercase;
}

h2.by {
    margin-bottom: 3.5rem;
}

footer h2 {
font-family: $altfontfamily;
}

h3,
.h3 {
@include font-size($basefontsize * 1.3);
text-transform: uppercase;
line-height: 1.3;
margin-bottom: $baselineheight / 1.5; }

h4,
.h4 {
@include font-size($basefontsize * 1.25);
//text-transform: uppercase;
line-height: 1.25;
margin-bottom: $baselineheight * 0.5; }

h5,
.h5 {
@include font-size($basefontsize * 1.15);
//text-transform: uppercase;
margin-bottom: $baselineheight;}

h6,
.h6 {
@include font-size($basefontsize);
margin-bottom: $baselineheight;
font-weight : normal;
letter-spacing : 1px;
text-transform : uppercase; }

p,
ol,
ul,
dl,
address {
margin-bottom : $baselineheight;
@include font-size($basefontsize);
line-height : $baselineheight; }

small {
@include font-size($basefontsize / 1.25); }

ul,
ol {
margin : 0 0 $baselineheight #{-$gutterwidth};
padding : 0 0 0 $gutterwidth; }

li ul,
li ol {
list-style-type : none;
margin : $baselineheight 0;
@include font-size(16); }

ul.inline,
ol.inline {
list-style-type : none;
margin-left : 0;
& > li {
display : inline-block;
padding-left : $gutterwidth / 2;
padding-right : $gutterwidth / 2; }
}

// blockquote

blockquote  {
margin : 0 0 $baselineheight 0;
padding : $gutterwidth / 2;
background-color : $basefontbackgroundcolor;
font-style : normal;

small {
&:before {
content : '\00A0 \2014'; }

&:after {
content : ''; }
}

&.pull-right {
float : right;
background-color : transparent;

p, small {
text-align : right; }

small {
&:before {
content : ''; }

&:after {
content : '\00A0 \2014'; }
}
}

cite {
font-style : normal; }
}

q {
quotes : none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
content : '';
content : none; }

blockquote {
border-left: 1px solid #473f3f;
}

dl,
dd {
margin-bottom : $baselineheight;  }

dt {
font-weight : bold; }

.dl-horizontal {
@include clearfix;

dt {
float : left;
clear : left;
width : 30.38869258%; }

dd {
margin-left : 32.99289258%; }
}

abbr[title] {
border-bottom : 1px dotted $bordercolor;
cursor : help; }

b, strong {
font-weight : bold; }

dfn {
font-style : italic; }

ins {
background-color : $basefontbackgroundcolor;
color : $textcolor;
text-decoration : none; }

mark {
background-color : $basefontbackgroundcolor;
color : $textcolor;
font-style : italic;
font-weight : bold; }

pre,
code,
kbd,
samp {
font-family : $codefont;
@include font-size($basefontsize / 1.25);
line-height : $baselineheight;
color : lighten($textcolor,.50%); }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }

sub,
sup {
position : relative;
@include font-size($basefontsize / 1.25);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }

.lead {
@include font-size($basefontsize * 1.15); }

.secondary {
@include font-size($basefontsize / 1.15); }

.tertiary {
@include font-size($basefontsize / 1.25); }

.amp {
font-family : $ampfontfamily; }

.footnotes {

li {
margin-bottom : $baselineheight / 2;
font-family : $altfontfamily;
@include font-size($basefontsize / 1.3);
line-height : 1.4; }

}/*footnotes*/

.spaced {
letter-spacing : 1px; }

.slug {
display: block;
font-size: 2rem;
font-family: $altfontfamily; 
font-variant: small-caps;
letter-spacing: 0;
line-height: 2rem;
text-align: left;
color: rgb(255,255,255);
@include media-query-bp($bp4)
{ color: rgb(19,21,24);
font-size: 2.4rem;
line-height: 5rem;
}
}

.logo .slug {
font-size: 1.2rem;
font-weight: 100;
color: rgb(146,154,0);    
}

.nav-head {
font-family: $altfontfamily;
}

.nav-text {
font-family: $basefontfamily;
}

.hero-unit.menu {

p {
font-size: 1.35rem;
color: rgba(28,32,36,0.7);
}
h3 {
font-size: 1.5rem;
//line-height: 0;
text-transform: none;
color:  rgba(164,50,21,0.75);
}
}

span.soon {
    color: #b0b861;
}

.nospace {
margin-bottom: 0;
}